
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Thymeleaf Hello World Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
 <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Insert title here</title>

</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>
<div id ="add">add</div>
<div id ="delelte">delete</div>
	<form name="registerSuccess" id ="registerSuccess" th:action="@{/registerSuccess}" 	 method="post">
		<table>

			<tr>
				<td>User Name</td>
				<td><input type="text" name="name"/></td>
			</tr>

			<tr>
				<td>Email</td>
				<td><input type="text" name="email"/></td>
			</tr>


			<tr>
				<td>Age</td>
				<td><input type="text" name="age"/></td>
			</tr>

			<tr>
				<td>Country</td>
				<td><select name="country">
						<option value="India">India</option>
						<option value="US">US</option>
						<option value="Other">Other</option>
				</select></td>
			</tr>

			<tr>
				<td><input type="submit" value="Register"/></td>
			</tr>


		</table>
	</form>
</body>
</html>